<!Doctype html>
<html lang="en">
<head>
<meta charset ="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalabe=no, initial scale=no,initial scale=1.0, minimun-scale-1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title> JavaScript FrameWorks Assignment 2</title>
</head>
<body>
<div class="container">
     <div *ngFor="let user of userList" class="UserInfo">
       <h2>{{user.firstname}}</h2>
       <h2>{{user.lastname}}</h2>
       <p>{{user.age}}</p>
       <p>Student Id: {{user.studentId}}</p>

       <!w3c school says this for how to ngIf -else---->
       <p *ngIf="user.isAdmin; else notAdmin"> This user is an Admin.</p>
       <ng-template #notAdmin><p> This user is not an Admin</p></ng-template>
     </div>
  </div>



</body>
</html>
<style>
  .container{
    width:55%;
    margin: 0 auto;
  }
  .UserInfo {
    Padding: 20px;
    background-color: darkgoldenrod;
    border-radius: 7px;
  }
  h2 {
    FontFamily: sans-serif;
    font-style: italic;
  }
P{
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: medium;
}
</style>
